* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


h1 {
  font-size: 24px;
}

.welcome {
  font-size: 1.2rem;
  color: #008000;
}

.logo {
  width: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 5%);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border-color: #333;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #0047ab;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00377f;
}

.app {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(3, 1fr) auto;
  gap: 1rem;
  opacity: 0;
  transition: ease-in 0.5s;
}

.balance {
  grid-column: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.balance__label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
   margin-left:inherit ;
}

.balance__date {
  font-size: 1rem;
  color: #888;
}

.balance__value {
  font-size: 1rem;
  font-weight: 400;
   text-align: center;
}

.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 0.8rem;
  overflow: auto;
}

.movements__row {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 0.8rem;
  border-radius: 7rem;
  margin-right: 1rem;
}

.movements__date {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1rem;
  margin-left:inherit ;
}

.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.2rem;
  margin-top: 0.7rem;
}

.summary__label {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.summary__value {
  font-size: 1.8rem;
  margin-right: 1.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  border-radius: 50%;
  background: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
}

.operation {
  border-radius: 0.8rem;
  padding: 2rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
}

.form__label {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.form__input:focus {
  border-color: #333;
}

.form__btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #0047ab;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__btn:hover {
  background-color: #00377f;
}
